/*Ideia da Imagem de Fundo tipo Marca Dagua
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;  controla a opacidade da imagem  
    z-index: -1;
    background-image: url("../../View/visual/logofullbody.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
*/
.footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color:#FF8C00;
    color: white;
    text-align: center;
 }
 .Copyright{
    background-color: #363636;
 }
/* link que ainda não foi visitado */
.footer a:link {
   color: white;
}

/* link que foi visitado */
.footer a:visited {
    color: white;
}

/* mouse over */
.footer a:hover {
    color: gray;
}

/* link selecionado */
.footer a:active {
    color: blue;
}

/* Botao Voltar Para o Inicio */
#vpi {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   font-size: 18px;
   border: none;
   outline: none;
   background-color:#4F4F4F   ;
   color: white;
   cursor: pointer;
   padding: 15px;
   border-radius: 4px;
 }
 
 #vpi:hover {
   background-color: black;
 }

 /* Login */

/* Menus */
.navbar-nav .nav-link {
    color: #FFFFFF !important;
}

a.nav-link.btn-outline-info:hover{
    color: #000000 !important;
}

.nav-link.btn-outline-link{
    padding-top: 20px !important;
}